@inherits LayoutComponentBase
@using JournalApp_CW.Services
@inject NavigationManager Nav
@inject AuthService Auth
@inject IJSRuntime JS

<div class="layout">
    @if (Auth.IsLoggedIn)
    {
        <!-- SHARED SIDEBAR -->
        <div class="sidebar">
            <div class="brand">
                <span style="background:var(--primary); color:white; padding:2px 8px; border-radius:6px;">J</span>
                Journal.
            </div>

            <div class="user-info">
                <small>Logged in as</small><br />
                <strong>@Auth.CurrentUser?.Username</strong>
            </div>

            <NavLink class="menu-item" href="journal" Match="NavLinkMatch.All">🏠 Home</NavLink>
            <NavLink class="menu-item" href="history">📖 History</NavLink>
            <NavLink class="menu-item" href="analytics">📈 Analytics</NavLink>
            <NavLink class="menu-item" href="settings">⚙️ Settings</NavLink>

            <button class="btn-secondary" style="margin-top:auto;" @onclick="Logout">Logout</button>
        </div>
    }

    <!-- CONTENT BODY -->
    <div class="main">
        @Body
    </div>
</div>

@code {
    private void Logout()
    {
        Auth.Logout();
        Nav.NavigateTo("/");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var isDark = await JS.InvokeAsync<bool>("themeInterop.getStoredTheme");
                await JS.InvokeVoidAsync("themeInterop.applyTheme", isDark);
            }
            catch { }
        }
    }

}